---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<mapquest_key>&location=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 17 Jan 2022 07:29:52 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,
        CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-909687971"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-1750296270"}]}]}'
  recorded_at: Mon, 17 Jan 2022 07:29:52 GMT
- request:
    method: post
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<open_weather_key>&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1642404592,"sunrise":1642429094,"sunset":1642464090,"temp":31.77,"feels_like":27.86,"pressure":1014,"humidity":55,"dew_point":19.06,"uvi":0,"clouds":48,"visibility":10000,"wind_speed":3.96,"wind_deg":202,"wind_gust":4.09,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"minutely":[{"dt":1642404600,"precipitation":0},{"dt":1642404660,"precipitation":0},{"dt":1642404720,"precipitation":0},{"dt":1642404780,"precipitation":0},{"dt":1642404840,"precipitation":0},{"dt":1642404900,"precipitation":0},{"dt":1642404960,"precipitation":0},{"dt":1642405020,"precipitation":0},{"dt":1642405080,"precipitation":0},{"dt":1642405140,"precipitation":0},{"dt":1642405200,"precipitation":0},{"dt":1642405260,"precipitation":0},{"dt":1642405320,"precipitation":0},{"dt":1642405380,"precipitation":0},{"dt":1642405440,"precipitati[...]
