---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?limit=5&q=1112121
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.095 TT 0 0.097"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 9,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL5073348W",
                    "type": "work",
                    "seed": [
                        "/books/OL5781686M",
                        "/works/OL5073348W",
                        "/authors/OL1112121A"
                    ],
                    "title": "Na i\u0361u\ufe21ge",
                    "title_suggest": "Na i\u0361u\ufe21ge",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL5781686M"
                    ],
                    "publish_date": [
                        "1958"
                    ],
                    "publish_year": [
                        1958
                    ],
                    "first_publish_year": 1958,
                    "number_of_pages_median": 630,
                    "lccn": [
                        "59031991"
                    ],
                    "publish_place": [
                        "Moskva"
                    ],
                    "oclc": [
                        "31821579"
                    ],
                    "lcc": [
                        "PG-3476.00000000.Z327 N2"
                    ],
                    "last_modified_i": 1601246473,
                    "ebook_count_i": 0,
                    "publisher": [
                        "Sovetskii\u0306 pisatel\u02b9"
                    ],
                    "language": [
                        "rus"
                    ],
                    "author_key": [
                        "OL1112121A"
                    ],
                    "author_name": [
                        "Fedor Zalata"
                    ],
                    "publisher_facet": [
                        "Sovetskii\u0306 pisatel\u02b9"
                    ],
                    "_version_": 1715092964763500546,
                    "lcc_sort": "PG-3476.00000000.Z327 N2",
                    "author_facet": [
                        "OL1112121A Fedor Zalata"
                    ]
                },
                {
                    "key": "/works/OL5073351W",
                    "type": "work",
                    "seed": [
                        "/books/OL2906213M",
                        "/works/OL5073351W",
                        "/authors/OL1112121A"
                    ],
                    "title": "Uzly",
                    "title_suggest": "Uzly",
                    "has_fulltext[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<mapquest_key>&location=1112121
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 18 Jan 2022 17:57:35 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"1112121"},"locations":[{"street":"[348239
        - 348275] 15 Sideroad","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Mono","adminArea5Type":"City","adminArea4":"Dufferin","adminArea4Type":"County","adminArea3":"ON","adminArea3Type":"State","adminArea1":"CA","adminArea1Type":"Country","postalCode":"L9W","geocodeQualityCode":"B3CXX","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"L","linkId":"rnr61574|i38322970","unknownInput":"","type":"s","latLng":{"lat":44.025457,"lng":-80.008604},"displayLatLng":{"lat":44.025651,"lng":-80.008651},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_key>&type=map&size=225,160&locations=44.025457,-80.008604|marker-sm-50318A-1&scalebar=true&zoom=15&rand=2118976530"},{"street":"[226135
        - 226175] 1331 Dr W","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Foothills
        No. 31","adminArea5Type":"City","adminArea4":"Division No. 6","adminArea4Type":"County","adminArea3":"AB","adminArea3Type":"State","adminArea1":"CA","adminArea1Type":"Country","postalCode":"T0L","[...]
