---
http_interactions:
- request:
    method: post
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<open_weather_key>&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1642596505,"sunrise":1642601835,"sunset":1642637026,"temp":26.38,"feels_like":26.38,"pressure":1019,"humidity":86,"dew_point":23.18,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":1.01,"wind_deg":10,"wind_gust":3,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"minutely":[{"dt":1642596540,"precipitation":0},{"dt":1642596600,"precipitation":0},{"dt":1642596660,"precipitation":0},{"dt":1642596720,"precipitation":0},{"dt":1642596780,"precipitation":0},{"dt":1642596840,"precipitation":0},{"dt":1642596900,"precipitation":0},{"dt":1642596960,"precipitation":0},{"dt":1642597020,"precipitation":0},{"dt":1642597080,"precipitation":0},{"dt":1642597140,"precipitation":0},{"dt":1642597200,"precipitation":0},{"dt":1642597260,"precipitation":0},{"dt":1642597320,"precipitation":0},{"dt":1642597380,"precipitati[...]
