---
http_interactions:
- request:
    method: post
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<open_weather_key>&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1642312966,"sunrise":1642256344,"sunset":1642291158,"temp":33.67,"feels_like":33.67,"pressure":1020,"humidity":52,"dew_point":19.51,"uvi":0,"clouds":21,"visibility":10000,"wind_speed":1.01,"wind_deg":161,"wind_gust":1.99,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"minutely":[{"dt":1642312980,"precipitation":0},{"dt":1642313040,"precipitation":0},{"dt":1642313100,"precipitation":0},{"dt":1642313160,"precipitation":0},{"dt":1642313220,"precipitation":0},{"dt":1642313280,"precipitation":0},{"dt":1642313340,"precipitation":0},{"dt":1642313400,"precipitation":0},{"dt":1642313460,"precipitation":0},{"dt":1642313520,"precipitation":0},{"dt":1642313580,"precipitation":0},{"dt":1642313640,"precipitation":0},{"dt":1642313700,"precipitation":0},{"dt":1642313760,"precipitation":0},{"dt":1642313820,"precipitati[...]
