---
http_interactions:
- request:
    method: post
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<open_weather_key>&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1642592640,"sunrise":1642601835,"sunset":1642637026,"temp":26.76,"feels_like":26.76,"pressure":1018,"humidity":85,"dew_point":23.31,"uvi":0,"clouds":88,"visibility":3959,"wind_speed":1.01,"wind_deg":53,"wind_gust":3,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"minutely":[{"dt":1642592640,"precipitation":0},{"dt":1642592700,"precipitation":0},{"dt":1642592760,"precipitation":0},{"dt":1642592820,"precipitation":0},{"dt":1642592880,"precipitation":0},{"dt":1642592940,"precipitation":0},{"dt":1642593000,"precipitation":0},{"dt":1642593060,"precipitation":0},{"dt":1642593120,"precipitation":0},{"dt":1642593180,"precipitation":0},{"dt":1642593240,"precipitation":0},{"dt":1642593300,"precipitation":0},{"dt":1642593360,"precipitation":0},{"dt":1642593420,"precipitation":0},{"dt":1642593480,"precipitati[...]
